<!DOCTYPE html>
<html>
<head>
        <link rel="shortcut icon" type="image/x-icon" href="~/Images/favicon.ico" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="DirectLink is the first enterprise level tool that finds out who’s talking about your brand without linking back. Try it free!" />
    <title>@ViewBag.Title - Direct Agents | DirectLink Backlink Search</title>
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@

    <script src="~/Scripts/public.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
        <script src="~/Scripts/ie.js"></script>
    <![endif]-->
    <!--[if (gte IE 9) | (!IE)]><!-->
        <script src="~/Scripts/public.js"></script>
    <!--<![endif]-->
    <link href="~/Content/public.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
      <link href="~/Content/ie.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    
    <script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
    <link href="~/Content/custom.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/jquery-ui.js" type="text/javascript"></script>
    <link href="~/Content/jquery-ui.css" rel="stylesheet" type="text/css" />
    <style>
        .ui-menu {
            width: 200px;
            position: absolute;
            top: 21px;
            right: 0;
            display: block;
            overflow: visible;
            padding: 0 0.5rem;
        }
        .ui-widget {
            font-family: Sans-Serif;
            font-size: 0.7rem;
        }
        .ui-widget-content {
            border: 0;
            background: transparent;
            color: #364A61; 
        }
        .ul {
            text-align:center;
        }
    </style>



</head>

      <nav id='top'>
    <div class='clearfix'>
      <a class='burger' href='index.html#'>
        <span></span>
        <span></span>
        <span></span>
      </a>
      <img alt='Direct Link logo' id='logo' src="~/Images/logo.png"/>
        <ul class='menu clearfix'>
         @if (!Request.IsAuthenticated) {
          <li class=''>
            <a href='http://www.directagents.com/directlink'>Home</a>
          </li>
          <li class=''>
            <a href='http://www.directagents.com/directlink/how-it-works'>How it works</a>
          </li>
          <li class=''>
            <a href='http://www.directagents.com/directlink/about'>About</a>
          </li>
@*          <li class=''>
            <a href='http://www.directagents.com/directlink/packages'>Packages</a>
          </li>*@
			  <li class='signup'>
			  <a class="signup" href="https://directlink.directagents.com/Account/Register?SubId=1" target="_top">Sign up</a>
              </li>
               <li class='login'>
			  <a class="signin" href="https://directlink.directagents.com/Account/Login" target="_top">Log In</a>
			  </li>
            
         }

        @if (Request.IsAuthenticated)
        {

            if (ViewBag.Title == "Begin Your Search")
            { <li class='active'>@Html.ActionLink("DirectLink App", "Index", "Application")</li> }
            else
            { <li class=''>@Html.ActionLink("DirectLink App", "Index", "Application")</li> }
            if (ViewBag.Title == "Help")
            { <li class='active'>@Html.ActionLink("Help", "Help", "Home")</li>  }
            else
            { <li class=''>@Html.ActionLink("Help", "Help", "Home")</li> }
            if (ViewBag.Title == "FAQ")
            { <li class='active'>@Html.ActionLink("FAQ", "FAQ", "Home")</li>  }
            else
            { <li class=''>@Html.ActionLink("FAQ", "FAQ", "Home")</li> }
            if (ViewBag.Title == "Contact")
            { <li class='active'>@Html.ActionLink("Contact", "Contact", "Home")</li> }
            else
            { <li class=''>@Html.ActionLink("Contact", "Contact", "Home")</li> }

         
            /*drop down*/
    
        <ul id="menu" class='clearfix'>
            <li><p style="margin-bottom:20px;">My Account</p>
                <ul id="menu">
                    <li class=''>@Html.ActionLink("My Profile", "Index", "Manage")</li>
                    <li class=''>@Html.ActionLink("Billing Info", "History", "Manage")</li>
@*                    <li class=''>@Html.ActionLink("Subscription", "Subscriptions", "Manage")</li>*@
                    <li class=''>@Html.ActionLink("Log Out", "LogoutCmd", "Account")</li>
                </ul>
            </li>
        </ul>
 
        <script>
            $("#menu").menu();
        </script>
    
            /*drop down*/
        }

        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
        {
            <li class=''>@Html.ActionLink("Roles", "Index", "RolesAdmin")</li>
            <li class=''>@Html.ActionLink("Users", "Index", "UsersAdmin")</li>
            <li class=''>@Html.ActionLink("Packages", "Index", "Packages")</li>
            <li class=''>@Html.ActionLink("Settings", "Index", "Settings")</li>
        }
          @*@Html.Partial("_LoginPartial")*@
        </ul>
      </div>
  </nav>


<body style="background-color:white;">
<div>@RenderBody()</div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

 <footer id='bottom'>
      <div class='clearfix'>
        <nav class='social'>
          <ul>
            <li>
              <a href='https://www.facebook.com/directagentsinc' target='_blank'>
                <svg height='24px' viewBox='0 0 24 24' width='24px'>
                  <path d='M8.49781053,8.19229126 L6,8.19229126 L6,11.9529029 L8.49781053,11.9529029 L8.49781053,23 L13.3010474,23 L13.3010474,11.9059126 L16.6521105,11.9059126 L17.0088579,8.19229126 L13.3010474,8.19229126 L13.3010474,6.07692718 C13.3010474,5.20130583 13.4922158,4.85464563 14.4095579,4.85464563 L17.0088,4.85464563 L17.0088,1 L13.6832684,1 C10.1091947,1 8.49781053,2.45130583 8.49781053,5.23078155 L8.49781053,8.19229126 L8.49781053,8.19229126 Z'></path>
                </svg>
              </a>
            </li>
            <li>
              <a href='https://plus.google.com/111591398674658560556/' target='_blank'>
                <svg height='24px' viewBox='0 0 24 24' width='24px'>
                  <path d='M23.5,5.75907921 L20.4507694,5.75907921 L20.4507694,8.73354455 L18.9261262,8.73354455 L18.9261262,5.75907921 L15.8768398,5.75907921 L15.8768398,4.27184653 L18.9261262,4.27184653 L18.9261262,1.2974901 L20.4507694,1.2974901 L20.4507694,4.27190099 L23.5,4.27190099 L23.5,5.75907921 L23.5,5.75907921 Z M14.8796335,18.0612723 C14.8796335,20.2908416 12.7926626,23.0051188 7.54229854,23.0051188 C3.70241505,23.0051188 0.5,21.3895347 0.5,18.6721535 C0.5,16.5748564 1.86118689,13.8522475 8.22191505,13.8522475 C7.27724029,13.101198 7.04539806,12.0510248 7.62274272,10.9138861 C3.89841748,10.9138861 1.99114806,8.77803465 1.99114806,6.06609901 C1.99114806,3.41243069 4.0143665,1 8.14029854,1 L14.7498956,1 L13.2729272,2.51222772 L11.5379345,2.51222772 C12.7619029,3.19629703 13.4128811,4.60511386 13.4128811,6.15796535 C13.4128811,7.58333663 12.6082718,8.73779208 11.4599466,9.60385149 C9.42215777,11.1406931 9.94384466,11.998802 12.0788811,13.5176733 C14.1839393,15.0560941 14.8796335,16.2436584 14.8796335,18.0612723 L14.8796335,18.0612723 Z M10.7572184,6.2549505 C10.4498447,3.97299505 8.92581553,2.10087129 7.14510194,2.04864851 C5.36377427,1.9969703 4.16911408,3.74324752 4.47676699,6.02580198 C4.78430825,8.30775743 6.47720874,9.90183168 8.25887136,9.95416337 C10.0395291,10.0058416 11.0644806,8.53717822 10.7572184,6.2549505 L10.7572184,6.2549505 Z M12.5934782,18.2901485 C12.5934782,16.4132871 10.8382767,14.6243713 7.89343932,14.6243713 C5.23939563,14.5958911 2.9901966,16.2603218 2.9901966,18.1896238 C2.9901966,20.1584059 4.90695631,21.797297 7.56111165,21.797297 C10.9542257,21.7972426 12.5934782,20.2589307 12.5934782,18.2901485 L12.5934782,18.2901485 Z'></path>
                </svg>
              </a>
            </li>
            <li>
              <a href='https://twitter.com/DirectAgents' target='_blank'>
                <svg height='24px' viewBox='0 0 24 24' width='24px'>
                  <path d='M24,4.36620896 C23.1170097,4.76764179 22.1680194,5.03898507 21.1720194,5.16083582 C22.188466,4.53629851 22.9693398,3.54740299 23.3369126,2.36895522 C22.3854757,2.94728358 21.3317476,3.36722388 20.2101553,3.59349254 C19.3120194,2.61271642 18.0323301,2 16.6160971,2 C13.4378447,2 11.1014563,5.03976119 11.819767,8.19623881 C7.72753398,7.98585075 4.09933981,5.97671642 1.67085437,2.92376119 C0.381029126,5.19140299 1.00182524,8.15904478 3.19462136,9.66107463 C2.38759223,9.63492537 1.62815534,9.4078806 0.964427184,9.02979104 C0.911009709,11.3678209 2.54574757,13.5540299 4.91365049,14.0416716 C4.22067961,14.2349254 3.46165049,14.2791642 2.69015534,14.1280597 C3.31660194,16.1328358 5.13512621,17.5918209 7.28976699,17.6324776 C5.21965049,19.2951045 2.61238835,20.0377313 0,19.722209 C2.17899029,21.1539701 4.76720388,21.9894925 7.54782524,21.9894925 C16.6894951,21.9894925 21.8543301,14.076 21.5430291,6.97844776 C22.5051845,6.26698507 23.3398835,5.37820896 24,4.36620896 L24,4.36620896 Z'></path>
                </svg>
              </a>
            </li>
          </ul>
        </nav>
        <nav class='legal'>
          <ul>
            @if (Request.IsAuthenticated)
            {
            <li>
              <a href='http://www.directagents.com/directlink/?Active=1'>Home</a>
            </li>
            <li>
              <a href='http://www.directagents.com/directlink/how-it-works/?Active=1'>How it works</a>
            </li>
            <li>
              <a href='http://www.directagents.com/directlink/about/?Active=1'>About</a>
            </li>
@*            <li>
              <a href='http://www.directagents.com/directlink/packages/?Active=1'>Packages</a>
            </li>*@
            }
            else
            {
            <li>
              <a href='http://www.directagents.com/directlink'>Home</a>
            </li>
            <li>
              <a href='http://www.directagents.com/directlink/how-it-works'>How it works</a>
            </li>
            <li>
              <a href='http://www.directagents.com/directlink/about'>About</a>
            </li>
@*            <li>
              <a href='http://www.directagents.com/directlink/packages'>Packages</a>
            </li>*@
            }
          </ul>
        </nav>
        <nav class='credits'>
          <span>Copyright</span>
          <span>2015</span>
          <span>© Direct Link</span>
        </nav>
      </div>
    </footer>
