<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="DirectLink is the first enterprise level tool that finds out who’s talking about your brand without linking back. Try it free!" />
    <title>@ViewBag.Title - Direct Agents | DirectLink Backlink Search</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    

</head>
<body>
        <header>
            <div class="header-graphics">
            <a href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/Images/logo.png")"/></a>
            <img src="~/Images/top_msg.png" alt="Direct Agents" style="margin-left:393px;">
                </div>
        </header>


   


    @* <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Direct Agents", "DirectAgents", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                    @if (Request.IsAuthenticated) {
                        <li>@Html.ActionLink("Application","Index","Application")</li>
                    }

                    @if (Request.IsAuthenticated && User.IsInRole("Admin")) {
                        <li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>
                        <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
                        <li>@Html.ActionLink("Settings", "Index", "Settings")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div> *@

        <div class="container">
            <div class="image-overlay">
                <div class="title-bar"><p>@ViewBag.Title</p>
                                <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (!Request.IsAuthenticated) {
                    <li><a href="http://www.directagents.com/directlink">Home</a></li>
                    <li><a href="http://www.directagents.com/directlink/about.html">About</a></li>
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    }

                    @if (Request.IsAuthenticated) {
                        <li>@Html.ActionLink("Welcome","Index","Home")</li>
                        <li>@Html.ActionLink("Application","Index","Application")</li>
                        @*<li>@Html.ActionLink("Subscriptions", "Index", "Payments")</li>*@
                        <li>@Html.ActionLink("Help", "Manual", "Home")</li>
                        <li>@Html.ActionLink("FAQ", "FAQ", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    }

                    @if (Request.IsAuthenticated && User.IsInRole("Admin")) {
                        <li>@Html.ActionLink("Roles", "Index", "RolesAdmin")</li>
                        <li>@Html.ActionLink("Users", "Index", "UsersAdmin")</li>
                        <li>@Html.ActionLink("Packages", "Index", "Packages")</li>
                        <li>@Html.ActionLink("Settings", "Index", "Settings")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>

                </div>
                <div class="body-content" style="">
                     @RenderBody()
                </div>
            </div>   
            <div class="footer">
                <table class="i-btn-table">
                    <tr>
                        <td><a class="i-btn" href="@Url.Action("Manual", "Home")" title="Help"><img src="@Url.Content("~/Images/btn_info.png")" /></a></td>
                        @*<td style="width:60px;">@Html.ActionLink(" ", "Manual", null, new { @class="i-btn" })</td>*@
                    </tr>
                </table>
                <p>&copy; @DateTime.Now.Year - <a href="http://www.directagents.com"> Direct Agents </a> | DirectLink Backlink Search Application</p>
            </div>
            @*<div class="footer">
                <p><a class="i-btn" href="http://missinglink.directagents.local/Application"><img src="/Images/btn_info.png" style="margin-top:7px;"></a></p>
                <p>&copy; @DateTime.Now.Year - Direct Agents | DirectLink Backlink Search Application</p>
            </div>*@
        </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
