@model MvcApplication1.Models.ParameterKeeper

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <!-- <script src="jquery-2.1.1.min.js"></script> -->
@*    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>*@
    <script>


            //$(document).ready(function () {
            //    $("#form").keydown(function () {
            //        $("#eta").text(calcETA(document.getElementById("#numResults"), document.getElementById("#delay")) + " sec");
            //    });
            //});

        function calcETA() {
            var t = 475;
            var x = document.getElementById("numResults").value;
            var y = document.getElementById("delay").value;
            x = +x;
            y = +y;
            if (x < 0) x = 0;
            if (y < 0) y = 0;
            var googlePages = ~~(x / 4);
            if (x % 4 > 0) googlePages++;
            var z = ((x * t) + (googlePages * t) + ((y * 1000) * googlePages) - (y * 1000)) * 0.001;
            //var z = ((x * t) + (googlePages * t) + ((y * 1000) * x) - (y * 1000)) * 0.001;
            z = Math.round(z * 100) / 100;
            if (z < 0) z = 0;
            document.getElementById("eta").innerHTML = "Estimated Time to Completion: " + z + " sec.";
            }

    </script>

    <meta name="viewport" content="width=device-width" />
    <title>Webcrawler Search Engine Scraper</title>

</head>

<body onload="calcETA()">



    <h2>MissingLink Application v1.0</h2>

<!-- <form id="form" action="@Url.Action("Process")" method="post" novalidate> -->

@using (Html.BeginForm("Process", "Main", FormMethod.Post, new { id = "form" }))
{
    @Html.ValidationSummary()

    <table>
        <tr>
            <td>Google Search Query</td>
            <!-- <td>@Html.EditorFor(m => m.query)</td> -->
            <td><input type="text" size ="65" name="query" required></td>
        </tr>
        <tr>
            <td>Phrase Search</td>
            <td><input type="text" size = "65" name="searchString"></td>
            <!-- <td>@Html.EditorFor(m => m.searchString)</td> -->
        </tr>
        <tr>
            <td>Target Site(s) To Scan For<br>(separate multiple instances with single space)</td>
            <td><input type="text" size="65" name="website" required></td>
        </tr>
        <tr>
            <td>Number of Results to Scan<br>(max 64)</td>
            <td><input type="number" id="numResults" name="numResults" value="@Model.numResults" min="1" max="64" onchange="calcETA()"></td>
        </tr>
        <tr>
            <td>Exclude Results With Links to Target(s)</td>
            <td><input type="radio" name="exclude" value = "yes" checked="checked">Yes <input type="radio" name="exclude" value = "no">No</td>
        </tr>
        <tr>
            <td>Start At Rank ID#<br>(max 61)</td>
            <td><input type="number" value="@Model.jump" min="1" max="61" name="jump"></td>
        </tr>
        <tr>
            <td>Delay Time Between Each Call To Google (sec)<br>(max 60.0)</td>
            <td><input type="number" step="any" id="delay" name="delay" value="@Model.delay" min="0" max="60" onchange="calcETA()"></td>
        </tr>
        <tr>
            <td><input type="submit" value ="Perform Search"></td>
        </tr>
    </table>
}

<p id="eta">Estimated Time to Completion: 0 sec.</p>

@*<script>
    $(document).ready(function () {
        $('input.amount').keyup(function () {
            calculateTotal(this);
        });
    });

    function calculateTotal(src) {
        var sum = 0,
            tbl = $(src).closest('table');
        tbl.find('input.number').each(function (index, elem) {
            var val = parseFloat($(elem).val());
            if (!isNaN(val)) {
                sum += val;
            }
        });
        tbl.find('.total').html(sum.toFixed(0));
    }
</script>*@

@*    @Html.DisplayNameFor(model => model.query)
    @for(int i = 0; i < 5; i++)
    {
        <span>this is a line @i</span>
        <br />
    }
    Query: @Model.query
    <br />
    Target URL: @Model.url
    <br />*@
</body>
</html>
