@{
    ViewBag.Title = "Processed Results";
}


@model MvcApplication1.Models.ProcessHub

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Webcrawler Results</title>
</head>

<body>
<p>Process Results:</p>

    <p>
    Google Search Query: @Model.query <br>
    Text Search Within Results: @if (Model.phraseSearch == true) { @Model.searchString }
                                else { <text><i>(No Phrase Entered)</i></text>} <br>
    Target Website(s) To Link To: @Model.target_website_htmlview<br>
    Number of Results to Scan: @Model.limit <br>
    Exclude Results With Links to Target(s):
        @if (Model.exclude == true) { <text>yes</text> }
        else { <text>no</text> }<br>
    Delay Time: @Model.delay_time_display sec <br>
    </p>

    <p>
    Maximum Range of Google Results: @Model.max_googleResults<br>
    Number of Results Retrieved: @Model.results.Count()<br>
    Results Omitted: @Model.results_excluded.Count()<br>
    Total Time: @Model.total_time sec<br>
    </p>

    @if (Model.search_error_encountered) {
    <text>Your search has been halted due to a critical error encountered during your Google search. Please see error message below:</text><br>
    @Model.search_error_msg<br>
    }
    else {
    foreach (MvcApplication1.Models.ProcessHub.SearchResult s in Model.results) {
        if (s.skip) { continue; }
        <text>Rank ID: </text>@s.id<br>
        <a href="@s.url">@s.url</a><br>
        if (s.exception) {
            <text> - ERROR: </text> @s.errorMsg<br>
            <br>
            continue;
        }
        if (s.linksToTarget) {
            <text> - OK: Site features links that point to target(s).<br></text>
        }
        else {
            <text> - NOTE: No links to target(s) found.<br></text>
        }
        if (Model.phraseSearch) {
            if (s.containsPhrase) {
                <text> - OK: Site contains instances of given phrase.</text><br>
            }
            else {
                <text> - NOTE: Given phrase not found.</text><br>
            }
        }
        <br>
    }
    <br>
    @Html.ActionLink("Next Set of Results", "Next")<br>
    @Html.ActionLink("Export CSV [Not Yet Implemented]", "ExportResults")
    }
</body>
</html>