@model IdentitySample.Models.ApplicationUser

@{
    ViewBag.Title = "User Details";
}

<section>
<h2 class="topic">Details Below</h2>

<div>

    <table style="margin-left:auto; margin-right:auto;">
        <tr>
            <th>@Html.DisplayNameFor(model => model.UserName)</th>
            <td>@Html.DisplayFor(model => model.UserName)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.CustomerId)</th>
            <td>@Html.DisplayFor(model => model.CustomerId)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.SubscriptionId)</th>
            <td>@Html.DisplayFor(model => model.SubscriptionId)</td>
        </tr>
         <tr>
            <th>@Html.DisplayNameFor(model => model.FirstName)</th>
            <td>@Html.DisplayFor(model => model.FirstName)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.LastName)</th>
            <td>@Html.DisplayFor(model => model.LastName)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.QueriesPerformed)</th>
            <td>@Html.DisplayFor(model => model.QueriesPerformed)</td>
        </tr>
        <tr>
            <th style="padding-right:10px;">@Html.DisplayNameFor(model => model.TotalQueriesPerformed)</th>
            <td>@Html.DisplayFor(model => model.TotalQueriesPerformed)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.DateTimeStamp)</th>
            <td>@Html.DisplayFor(model => model.DateTimeStamp)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Anniversary)</th>
            <td>@Html.DisplayFor(model => model.Anniversary)</td>
        </tr>
        <tr>
            <th>Next Reset Date</th>
            <td>@Model.Anniversary.AddMonths(1)</td>
        </tr>
         <tr>
            <th>@Html.DisplayNameFor(model => model.PackageId)</th>
             <td>@Html.DisplayFor(model => model.Package.Name)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.EmailConfirmed)</th>
            <td>@Html.DisplayFor(model => model.EmailConfirmed)</td>
        </tr>
    </table>
</div>
    <br /><br />
<h2 class="topic">List of roles for this user</h2>
@if (ViewBag.RoleNames.Count == 0)
{
    <p>No roles found for this user.</p>
}

<table class="table">

    @foreach (var item in ViewBag.RoleNames)
    {
        <tr>
            <td>
                @item
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
</section>
<br /><br /><br /><br />