@model IdentitySample.Models.ApplicationUser

@{
    ViewBag.Title = "User Details";
}

@Styles.Render("~Content/css")

<h2>Details Below</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
                <dt>
            @Html.DisplayNameFor(model => model.SubscriptionId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubscriptionId)
        </dd>
         <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
                <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QueriesPerformed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QueriesPerformed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalQueriesPerformed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalQueriesPerformed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateTimeStamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateTimeStamp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Anniversary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Anniversary)
        </dd>
        <dt>
            Next Reset Date
        </dt>
        <dd>
            @Model.Anniversary.AddMonths(1)
        </dd>
         <dt>
            @Html.DisplayNameFor(model => model.PackageId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Package.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailConfirmed)
        </dd>
    </dl>
</div>
<h4>List of roles for this user</h4>
@if (ViewBag.RoleNames.Count == 0)
{
    <hr />
    <p>No roles found for this user.</p>
}

<table class="table">

    @foreach (var item in ViewBag.RoleNames)
    {
        <tr>
            <td>
                @item
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>



