@*@model IEnumerable<IdentitySample.Models.ApplicationUser>*@
@model IdentitySample.Models.UserAdminViewModel

@{
    ViewBag.Title = "Users Admin";
}

<section>
    <h2 class="topic">Users Admin</h2>
    <p class="small" style="color:red;">@ViewBag.StatusMessage</p>
    <p>Click on Admin, UserName, FirstName, LastName, or Package to alphabetically sort all listed users.
        You may also click on Searches and Lifetime to sort by the number of searches your users have performed.</p>
    <p>You may manually enable EmailConfirmed for any users that do not receive a confirmation email.
        You may also manually change their Package settings. However, you cannot assign a user a paid subscription without a credit card attached to their account.
        Click on Card to manage their card options.
    </p>
    <p>500 Internal Server Errors typically occur if a CustomerId or SubscriptionId doesn't match what it sees on Stripe's end.
        If you get this error, check their IDs on Stripe's end and manually edit your user's IDs if needed.
    </p>
<div class="" style="padding:50px;">
<p>
    @Html.ActionLink("Create New", "Create")
</p>
    <style>
        a.sort {
            text-decoration: none;
        }
        th {
            padding-right:5px;
            vertical-align:bottom;

        }
        td.center {
            text-align:center;
        }
        td {
            padding-right:5px;
        }
    </style>
<table id="table" class="table" style="margin-left:auto; margin-right:auto; width: auto;">
    <thead>
        <tr>
        <th data-sort="string" style="text-align:left;"><a class="sort">Admin</a></th>
        <th data-sort="string" style="text-align:left;"><a class="sort">User</a></th>
        <th data-sort="string" style="text-align:left;"><a class="sort">FirstName</a></th>
        <th data-sort="string" style="text-align:left;"><a class="sort">LastName</a></th>
        <th data-sort="string" style="text-align:left;"><a class="sort">Company</a></th>
        <th data-sort="string" style="text-align:left;"><a class="sort">Package</a></th>
        <th data-sort="string" style="text-align:left;"><a class="sort">Email<br />Confirmed</a></th>
        @*<th style="text-align:left;">@Html.DisplayNameFor(model => model.EmailConfirmed)</th>*@
        <th data-sort="int" style="text-align:left;"><a class="sort">Searches</a></th>
        <th data-sort="int" style="text-align:left;"><a class="sort">Lifetime</a></th>
        <th style="text-align:left;">Date Created</th>
        <th style="text-align:left;">Options</th>
        </tr>
    </thead>
    <tbody>
    @{ int i = 0; }
    @for (int j = 0; j < Model.Users.Count; j++)
    {
        <tr>
            <td class="center" @if (i%2 == 0) { <text>style="background-color:#ededed;"</text> }>@if (Model.IsAdmin[j] == true) { <text>Y</text> } </td>
            <td @if (i%2 == 0) { <text>style="background-color:#ededed;"</text> }>@Model.Users[j].Email</td>
            <td @if (i%2 == 0) { <text>style="background-color:#ededed;"</text> }>@Model.Users[j].FirstName</td>
            <td @if (i%2 == 0) { <text>style="background-color:#ededed;"</text> }>@Model.Users[j].LastName</td>
            <td @if (i%2 == 0) { <text>style="background-color:#ededed;"</text> }>@Model.Users[j].CompanyName</td>
            <td @if (i%2 == 0) { <text>style="background-color:#ededed;"</text> }>@Model.Users[j].Package.Name</td>
            <td class="center" @if (i%2 == 0) { <text>style="background-color:#ededed;"</text> }>@if (Model.Users[j].EmailConfirmed) { <text>Y</text> }
                                                                                  else
                                                                                  { <text>N</text> }</td>
            <td @if (i % 2 == 0)
                { <text>style="background-color:#ededed;"</text> }>@Model.Users[j].QueriesPerformed</td>
            <td @if (i % 2 == 0)
                { <text>style="background-color:#ededed;"</text> }>@Model.Users[j].TotalQueriesPerformed</td>
            <td @if (i % 2 == 0)
                { <text>style="background-color:#ededed;"</text> }>@Model.Users[j].DateCreated.Date.Month/@Model.Users[j].DateCreated.Date.Day/@Model.Users[j].DateCreated.Date.Year</td>
            <td @if (i % 2 == 0)
                { <text>style="background-color:#ededed;"</text> }>@Html.ActionLink("Edit", "Edit", new { id = Model.Users[j].Id }) |
                @Html.ActionLink("Details", "Details", new { id = Model.Users[j].Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = Model.Users[j].Id }) |
                @Html.ActionLink("Card", "AttachCreditCard", new { id = Model.Users[j].Id }) |
                @Html.ActionLink("Billing", "History", new { id = Model.Users[j].Id })
            </td>
        </tr>
        { i+=1; }
    }
    </tbody>
</table>

    </div>
    </section>
<br /><br /><br />

@section Scripts {
<script src="~/Scripts/stupidtable.min.js" type="text/javascript"></script>
<script>
     $(function(){
        $("table").stupidtable();
     });
</script>
}