@model IEnumerable<IdentitySample.Models.ApplicationUser>

@{
    ViewBag.Title = "Users Admin";
}

<section>
    <h2 class="topic">Users Admin</h2>
    <p>You may manually enable EmailConfirmed for any users that do not receive a confirmation email.
        You may also manually change their Package setting, even when there isn't a credit card present.
    </p>
    <p>500 Internal Server Errors typically occur if a CustomerId or SubscriptionId doesn't match what it sees on Stripe's end.
        You may manually edit your user's IDs if needed.
    </p>
<div class="" style="padding:50px;">
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" style="margin-left:auto; margin-right:auto; width: 950px;">
    <tr>
        <th style="text-align:left;">
            <p class="small">@Html.DisplayNameFor(model => model.UserName)</p>
        </th>
        <th style="text-align:left;">
            <p class="small">@Html.DisplayNameFor(model => model.FirstName)</p>
        </th>
        <th style="text-align:left;">
            <p class="small">@Html.DisplayNameFor(model => model.LastName)</p>
        </th>
        <th style="text-align:left;">
            <p class="small">@Html.DisplayNameFor(model => model.PackageId)</p>
        </th>
        <th style="text-align:left;">
            <p class="small">@Html.DisplayNameFor(model => model.EmailConfirmed)</p>
        </th>
        <th style="text-align:left;">
            <p class="small">Options</p>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <p class="small">@Html.DisplayFor(modelItem => item.UserName)</p>
            </td>
            <td>
                <p class="small">@Html.DisplayFor(modelItem => item.FirstName)</p>
            </td>
            <td>
                <p class="small">@Html.DisplayFor(modelItem => item.LastName)</p>
            </td>
            <td>
                <p class="small">@Html.DisplayFor(modelItem => item.Package.Name)</p>
            </td>
                        <td>
                <p class="small">@Html.DisplayFor(modelItem => item.EmailConfirmed)</p>
            </td>
            <td>
                <p class="small">@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })</p>
            </td>
        </tr>
    }

</table>

    </div>
    </section>
<br /><br /><br />