@model IEnumerable<IdentitySample.Models.Setting>

@{
    ViewBag.Title = "User Settings";
}

<section>
<h2 class="topic">Settings</h2>

    <p>PingTime is the amount of time allowed for the tool to get an initial 200 OK response from a result's URL.
        LoadTime is the amount of time allowed for the tool to download the HTML page data from the server.
        Feel free to configure them as necessary.
    </p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

    <style>
        table.table {
            margin-left:auto;
            margin-right:auto;
            text-align:center;
        }
    </style>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SettingName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SettingName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id })
        </td>
    </tr>
}

</table>
</section>
<br /><br /><br /><br /><br /><br /><br /><br />