@model IdentitySample.Models.RegisterViewModel
@{
    ViewBag.Title = "Register New Account";
    string subid = ViewBag.SubId;
}

@section Scripts
{
@Scripts.Render("~/bundles/jqueryval")


<style>
    div.terms {
        margin-left:auto;
        margin-right:auto;
	width:600px;
	height:200px;
	border:1px solid #ccc;
	background:#f2f2f2;
	padding:6px;
	overflow:auto;
}
div.terms p,
div.terms li {font:normal 12px/16px arial;color:#333;}
div.terms h3 {font:bold 14px/19px arial;color:#000;}
div.terms h4 {font:bold 12px/17px arial;color:#000;}
div.terms strong {color:#000;}
</style>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
  // This identifies your website in the createToken call below
    Stripe.setPublishableKey('pk_test_bqotCuVYyt6dLMoMD4doOL6V');

    var stripeResponseHandler = function (status, response) {
        var $form = $('#payment-form');

        if (response.error) {
            // Show the errors on the form
            $form.find('.payment-errors').text(response.error.message);
            $form.find('button').prop('disabled', false);
        } else {
            // token contains id, last4, and card type
            var token = response.id;
            // Insert the token into the form so it gets submitted to the server
            $form.append($('<input type="hidden" name="stripeToken" />').val(token));
            // and re-submit
            $form.get(0).submit();
        }
    };

    jQuery(function ($) {
        $('#payment-form').submit(function (event) {
            var $form = $(this);
            // Disable the submit button to prevent repeated clicks
            $form.find('button').prop('disabled', true);

            if ($('#1').is(':checked')) { $form.get(0).submit();  }

            Stripe.card.createToken($form, stripeResponseHandler);

            // Prevent the form from submitting with the default action
            return false;
        });
    });
</script>
<script type="text/javascript">
    function yesnoCheck() {
        //if (document.getElementById('2').checked) {
        //    document.getElementById('credit-card').style.display = 'block';
        //}
        //else if (document.getElementById('3').checked) {
        //    document.getElementById('credit-card').style.display = 'block';
        //}
        //else if (document.getElementById('4').checked) {
        //    document.getElementById('credit-card').style.display = 'block';
        //}
        //else if (document.getElementById('5').checked) {
        //    document.getElementById('credit-card').style.display = 'block';
        //}
        //else document.getElementById('credit-card').style.display = 'none';
    }


    $(function () {
        var $radios = $('input:radio[name=ChosenSubscriptionId]');
        if ($radios.is(':checked') === false) {
            $radios.filter('[value=1]').prop('checked', true);
        }
    });

    $(document).ready(function () {
        yesnoCheck();
    });

</script>
}

@{
    string PackageId = Request.QueryString["Package"];
}

<div class="container">
<section>
    <h2 class="topic">Create Your Account</h2>
    <p class="small" style="max-width:400px;">Fill out the fields below to get started.
        A free account allows you to perform 25 searches per month.
        Please @Html.ActionLink("contact us", "Contact", "Home") for pricing on premium accounts.
@*        If you are registering for a paid subscription, please have a credit card ready.*@
    </p>
    <div class="form-box" style="max-width:750px; padding-top:15px;">
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", @id = "payment-form", role = "form" }))
{
    <table class="credit-card-form" style="width:500px;">
        <tr>
            <td style="text-align:center"><input type="radio" onclick="yesnoCheck();" name="ChosenSubscriptionId" id="1" value="1" @(subid == "1" ? "checked" : "")> Freemium</td>
@*            <td><input type="radio" onclick="yesnoCheck();" name="ChosenSubscriptionId" id="2" value="2" @(subid == "2" ? "checked" : "")> Bronze</td>
            <td><input type="radio" onclick="yesnoCheck();" name="ChosenSubscriptionId" id="3" value="3" @(subid == "3" ? "checked" : "")> Silver</td>
            <td><input type="radio" onclick="yesnoCheck();" name="ChosenSubscriptionId" id="4" value="4" @(subid == "4" ? "checked" : "")> Gold</td>
            <td><input type="radio" onclick="yesnoCheck();" name="ChosenSubscriptionId" id="5" value="5" @(subid == "5" ? "checked" : "")> Platinum</td>
*@
        </tr>
    </table>
    <table style="margin-top:10px; margin-bottom:20px; margin-left:auto; margin-right:auto;">
    @Html.AntiForgeryToken()
    <tr>
        <td style="margin-left:auto; margin-right:auto; text-align:center; color:red;"><p>@Html.ValidationSummary("", new { @class = "text-danger" })</p></td>
    </tr>
    <tr>
        <td class ="register-left-col"><p class="small">@Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })</p></td>
        <td>@Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })</td>
    </tr>
    <tr>
        <td class ="register-left-col"><p class="small">@Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })</p></td>
        <td>@Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })</td>
    </tr>
    <tr>
        <td class ="register-left-col"><p class="small">@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })</p></td>
        <td>@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })</td>
    </tr>
    <tr>
        <td class ="register-left-col"><p class="small">@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })</p></td>
        <td>@Html.PasswordFor(m => m.Password, new { @class = "form-control" })</td>
    </tr>
    <tr>
        <td class ="register-left-col"><p class="small">@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })</p></td>
        <td>@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })</td>
    </tr>
        </table>
    <div id="credit-card" style="display:none; text-align:center; padding-bottom:1em;">
            <span style="margin-left:auto; margin-right:auto; text-align:center; color:red;" class="payment-errors"></span>
            <table class="credit-card-form">
                <tr>
                    <td class="credit-card-form"><p class="small">Name On Card</p></td>
                    <td class="credit-card-form"><input type="text" size="30" data-stripe="name" required/></td>
                </tr>
                <tr>
                    <td class="credit-card-form"><p class="small">Address Line 1</p></td>
                    <td class="credit-card-form"><input type="text" size="30" data-stripe="address_line1" required/></td>
                </tr>
                <tr>
                    <td class="credit-card-form"><p class="small">Address Line 2</p></td>
                    <td class="credit-card-form"><input type="text" size="30" data-stripe="address_line2"/></td>
                </tr>
                <tr>
                    <td class="credit-card-form"><p class="small">City</p></td>
                    <td class="credit-card-form"><input type="text" size="25" data-stripe="address_city" required/></td>
                </tr>
                    <tr>
                    <td class="credit-card-form"><p class="small">State, Postal Code</p></td>
                    <td class="credit-card-form"><input type="text" size="3" data-stripe="address_state"/> <input type="text" size="8" data-stripe="address_zip" required/></td>
                </tr>
                   @*<tr>
                    <th>Country</th>
                    <td><input type="text" size="5" data-stripe="address_country"/></td>
                </tr>*@
                   <tr>
                    <td class="credit-card-form"><p class="small">Card Number</p></td>
                    <td class="credit-card-form"><input type="text" size="30" data-stripe="number"/></td>
                </tr>
                    <tr>
                    <td class="credit-card-form"><p class="small">CVC</p></td>
                    <td class="credit-card-form"><input type="text" size="4" data-stripe="cvc"/></td>
                </tr>
                <tr>
                    <td class="credit-card-form" style="padding-right:4px;"><p class="small">Expiration (MM/YYYY)</p></td>
                    <td class="credit-card-form"><input type="text" size="2" data-stripe="exp-month"/> / <input type="text" size="4" data-stripe="exp-year"/></td>
                </tr>
            </table>
        </div>
    <div class="terms">
            <p><b>DirectLink Terms of Service</b></p>
            <p>By using the DirectLink site (“Service”), a service of Direct Agents, Inc., (“Direct Agents”), you agree to be bound by the following Terms and Conditions (“Terms of Service”).  If you are entering into this agreement on behalf of a company or other legal entity, you represent that you have the authority to bind such entity, its affiliates and all users who access our services through your account to these Terms of Service, in such case “You” and “Your” shall refer to such entity, its affiliates and users associated with it.</p>
            <p>Direct Agents reserves the right to update and change the Terms of Service from time to time without notice.  Any new features that augment or enhance the current Service, including the release of new tools and resources, shall be subject to the Terms of Service. Continued use of the Service after any such changes shall constitute your consent to such changes. The most current version of the Terms of Service is available is reviewable at any time at:<a href="http://wwww.directagents.com/directlink/tos.php"></a>http://wwww.directagents.com/directlink/tos.php.</p>
            <p><b>General Conditions:</b></p>    
            <p>1.	Use of the Service described herein is at your sole risk, and is provided on an “as is” and “as available” basis.</p>
            <p>2.	Acceptance of Agreement: by registering and/or utilizing the Service you represent that you agree to be bound by the Terms of Service.  If you do not agree to the Terms of Service contained herein, do not use the Service.  Your electronic acceptance on our website, your registration or use of the Service constitutes your acceptance of the Terms of Service. Your electronic acceptance of these Terms shall have the same force and effect as if you had actually signed the Agreement.</p>
            <p>3.	Direct Agents shall in no case be liable for any actions or decisions made based on the information provided by the Service, and does not guarantee the quality or accuracy of the information provided by the Service.</p>
            <p>4.	You understand that DirectLink utilizes a third party API to provide necessary software, networking, and related technology required to run the Service.</p>
            <p>5.	You must not modify, adapt or hack the Service or modify another website so as to falsely imply that it is associated with the Service, Direct Agents, or any other Direct Agents service.</p>  
            <p>6.	Direct Agents reserves the right to utilize your trade name, trademarks, and logos in Direct Agents’ advertising, publicity campaigns and public announcements in promotion of and in association with the Service.</p>
            <p>7.	You agree not to use any automated method, program, or device to read or gather data from or access the Service in any way or to gather data from the Service without the direct action of a live person.</p>
            <p>8.	You expressly agree not to attempt to reproduce, redistribute, duplicate, copy, sell, resell, or exploit any portion of the Service or the information obtained from it, use of the Service, or access to the Service without the express prior written permission of Direct Agents.</p>
            <p>9.	Direct Agents in no way warrants the following: (i) the Service will meet your specific or desired requirements, (ii) the Service will be uninterrupted, timely, secure, or error-free, (iii) the results that may be obtained from the use of the Service will be accurate or reliable, (iv) the quality of any products, services, information, or other material purchased or obtained by you through the Service will meet your expectations, and (v) any errors in the Service will be corrected.</p>
            <p>10.	DIRECT AGENTS SHALL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, OR EXEMPLARY DAMAGES, INCLUDING BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA, OR OTHER INTANGIBLE LOSSES (EVEN IF DIRECT AGENTS HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), RESULTING FROM: (I) THE USE OR THE INABILITY TO USE THE SERVICE, (II) THE COST OF PROCUREMENT OF SUBSTITUTE GOODS AND SERVICES RESULTING FROM ANY GOODS, DATA, INFORMATION OR SERVICES PURCHASED OR OBTAINED OR MESSAGES RECEIVED OR TRANSACTIONS ENTERED INTO THROUGH OR FROM THE SERVICE, (III) UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA, (IV) STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON THE SERVICE, (V) OR ANY OTHER MATTER RELATING TO THE SERVICES CONTEMPLATED HEREIN.</p>
            <p>11.	The look and feel of the Service is copyright © 2014 Direct Agents, Inc.  All rights reserved. You may not duplicate, copy, or reuse any portion of the CSS or visual design elements without express written permission from Direct Agents.</p>
            <p>12.	The failure of Direct Agents to exercise or enforce any right or provision of the Terms of Service shall in no way constitute a waiver of such right or provision.  The Terms of Service constitutes the entire agreement between you and Direct Agents and govern use of the Service.  These Terms of Service supersede any prior agreements between you and Direct Agents (including, but not limited to, any prior versions of the Terms of Service).</p>
            <p>13.	Indemnification: You agree to defend, indemnify, and hold Direct Agents and any affiliates harmless from and against any and all claims, demands, actions, liabilities, costs, or damages arising out of your use of the Service or your violation of the Terms of Service.  You further agree to pay attorneys fees and costs arising from any actions or claims hereunder and those incurred in establishing the applicability of this section.</p>
        <br />
    </div>
    <div style="padding-left:5em; padding-top:5px;">
    <input type="checkbox" name="TOS" value="true" required/> I agree to abide by the terms of service listed above.
    </div>
    <div style="padding:30px; text-align:center;">
<p class="small"><input type="submit" class="btn btn-default" value="Create Account" /></p>
        </div>
}
</div>
    <br /><br /><br /><br /><br /><br />
    </section>
    </div>