@model IdentitySample.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
}

<header><h2 class="topic">Reset Your Password</h2>
    <p>Please fill out the form fields below to complete your account password reset request.</p>
<div class="container" style="padding-bottom:100px;">

    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Code)
    <div style="padding-bottom:15px;">
        Your Email Address
        @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })*@
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div style="padding-bottom:15px;">
        New Password
        @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
        <div>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div style="padding-bottom:15px;">
        Confirm New Password
        @*@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })*@
        <div>
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div style="padding:60px;">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Reset Password" />
        </div>
    </div>

}
    </div>
</header>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
