@model MissingLinkPro.Models.ParameterKeeper

@{
    ViewBag.Title = "Begin Your Search";
}

<!-- <form id="form" action="@Url.Action("Process")" method="post" novalidate> -->


@using (Html.BeginForm("Process", "Application", FormMethod.Post, new { id = "form", onsubmit = "go()" }))
{
    @Html.ValidationSummary()
    <table class="application" id="app-body">
        <tr class="app-row">
            <td class="app-column">Search Query
                <span style="cursor:Pointer;" title="Type in whatever it is you are looking for when using a search engine.">
                    <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'"><img src="~/Images/question_blob.png" /></a>
                    </span>
            </td>
            <td class="app-column">Target Site To Scan For <span style="cursor:Pointer;" title="Type in the website that you are scanning your results for linkbacks to. Please include subdomain prefix if one exists."><img src="~/Images/question_blob.png" /></span></td>
            @*<td>Phrase Search</td>*@
        </tr>
        <tr class="app-row">
            <td class="app-column"><input class="form-field" type="text" size ="45" name="BingSearchQuery" required></td>
            @*<td><input class="form-field" type="text" size = "65" name="PhraseSearchString"></td>*@
            <td class="app-column"><input class="form-field" type="text" size="45" name="ClientWebsite" required></td>
        </tr>
        <tr class="app-row">
            <td class="app-column">Exclude Terms <span style="cursor:Pointer;" title="Type in whatever terms you wish for the search engine to exclude from your search."><img src="~/Images/question_blob.png" /></span></td>
            @*<td>Target Site To Scan For</td>*@
        </tr>
        <tr class="app-row">
            <td class="app-column"><input class="form-field" type="text" size = "45" name="ExcludeString"></td>
            @*<td><input class="form-field" type="text" size="65" name="ClientWebsite" required></td>*@
        </tr>
        <tr>
            <td style="line-height:20px; padding-top:10px;">Number of Results to Scan<br><p style="font-size:small; padding-bottom:12px;"><b>(Max: 1000 Results)</b></p></td>
            <td style="line-height:20px; padding-top:10px;">Start At Rank ID#<br><p style="font-size:small; padding-bottom:12px;"><b>(Max: Rank 1001)</b></p></td>
        </tr>
            <tr>
            <td class="app-column"><input type="number" id="top-input" name="top" value="@Model.top" min="1" max="1000" onchange="calcETA()"></td>
            <td class="app-column"><input type="number" value="@Model.skip" min="1" max="1001" name="skip"></td>

        </tr>
        <tr>
             <td class="app-column">Type of Results</td>
             <td>
                 <table>
                     <tr>
                         <td class="app-radio-btn"><input class="radio-btn" type="radio" name="ResultType" value = "web" checked="checked"> Web</td>
                         <td class="app-radio-btn"><input class="radio-btn" type="radio" name="ResultType" value = "news"> News</td>
                     </tr>
                 </table>
             </td>
        <tr>
            <td class="app-column">Exclude Results With Links to Target</td>
            <td>
                <table>
                    <tr>
                        <td class="app-radio-btn"><input class="radio-btn" type="radio" name="ExcludeLinkbackResults" value = "true" checked="checked"> Yes</td>
                        <td class="app-radio-btn"><input class="radio-btn" type="radio" name="ExcludeLinkbackResults" value = "false"> No</td>
                   </tr>
                </table>
            </td>
        </tr>
                <tr>
            <td class="app-column">Display Search Results</td>
            <td>
                <table>
                    <tr>
                        <td class="app-radio-btn"><input class="radio-btn" type="radio" name="DisplayAllResults" value = "true" checked="checked"> Yes </td>
                        <td class="app-radio-btn"><input class="radio-btn" type="radio" name="DisplayAllResults" value = "false"> No</td>
                   </tr>
                </table>
            </td>
        </tr>

        <tr>
          @*<input type="image" name="SubmitBtn" src="~/Images/btn_search.gif" value ="Perform Search" style="align-content:center"> *@
        </tr>
    </table>
    
    <div class="big-orange-btn-location">
    <table style="margin-left:auto; margin-right:auto;">
        <tr>
    <td><input type="hidden" name="NewSession" value="true">
                <input style="margin-bottom:30px;" class="big-orange-btn" type="image" name="SubmitBtn" src="~/Images/btn_search.gif" value ="Perform Search"></td>
    </tr>
        <tr>
            <td><div class="eta-indicator">
<p id="eta">Estimated Time to Completion: 0 sec.</p>
    </div></td>
        </tr>
    </table>
        </div>

}
<br />
<br />


@* @using (Html.BeginForm("Process", "Application", FormMethod.Post, new { id = "form" }))
{
    @Html.ValidationSummary()

    <table>
        <tr>
            <td>Search Query</td>
            <!-- <td>@Html.EditorFor(m => m.BingSearchQuery)</td> -->
            <td><input type="text" size ="65" name="BingSearchQuery" required></td>
        </tr>
        <tr>
            <td>Phrase Search</td>
            <td><input type="text" size = "65" name="PhraseSearchString"></td>
            <!-- <td>@Html.EditorFor(m => m.PhraseSearchString)</td> -->
        </tr>
        <tr>
            <td>Exclude Terms</td>
            <td><input type="text" size = "65" name="ExcludeString"></td>
            <!-- <td>@Html.EditorFor(m => m.ExcludeString)</td> -->
        </tr>
        <tr>
            <td>Target Site To Scan For<br></td>
            <td><input type="text" size="65" name="ClientWebsite" required></td>
        </tr>
        <tr>
            <td>Number of Results to Scan<br>(max 1000)</td>
            <td><input type="number" id="top" name="top" value="@Model.top" min="1" max="1000" onchange="calcETA()"></td>
        </tr>
            <tr>
            <td>Type of Results</td>
            <td><input type="radio" name="ResultType" value = "web" checked="checked">Web <input type="radio" name="ResultType" value = "news">News
            </td>
        </tr>
        <tr>
            <td>Exclude Results With Links to Target</td>
            <td><input type="radio" name="ExcludeLinkbackResults" value = "true" checked="checked">Yes <input type="radio" name="ExcludeLinkbackResults" value = "false">No</td>
        </tr>
        <tr>
            <td>Display Search Results</td>
            <td><input type="radio" name="DisplayAllResults" value = "true" checked="checked">Yes <input type="radio" name="DisplayAllResults" value = "false">No</td>
        </tr>
        <tr>
            <td>Start At Rank ID#<br>(max 1001)</td>
            <td><input type="number" value="@Model.skip" min="1" max="1001" name="skip"></td>
        </tr>
        <tr>
            <td><input type="image" src="~/Images/btn_search.gif" value ="Perform Search"></td>
        </tr>
    </table>
    <input type="hidden" name="NewSession" value="true">
}*@

@*<p>Note: Results limited to the top 1000.</p>*@

<br /><br />

@section Scripts {
<script type="text/javascript" src="~/Scripts/spin.js"></script>
<script>
    $(function () {
        calcETA();
        //debugger;
    });

    function calcETA() {
        debugger;
        var t = 2.5;
        var x = document.getElementById("top-input").value;
        x = +x;
        if (x < 0) x = 0;
        var BingPages = ~~(x / 50);
        if (x % 50 > 0) BingPages++;
        var z = (BingPages * t) + ((x / 10) * t);
        z = Math.round(z * 100) / 100;
        if (z < 0) z = 0;
        document.getElementById("eta").innerHTML = "Average Estimated Time to Completion: " + z + " sec.";
    }

    function go() {
        var opts = {
            lines: 13, // The number of lines to draw
            length: 20, // The length of each line
            width: 10, // The line thickness
            radius: 30, // The radius of the inner circle
            corners: 1, // Corner roundness (0..1)
            rotate: 0, // The rotation offset
            direction: 1, // 1: clockwise, -1: counterclockwise
            color: '#000', // #rgb or #rrggbb or array of colors
            speed: 1, // Rounds per second
            trail: 60, // Afterglow percentage
            shadow: false, // Whether to render a shadow
            hwaccel: false, // Whether to use hardware acceleration
            className: 'spinner', // The CSS class to assign to the spinner
            zIndex: 2e9, // The z-index (defaults to 2000000000)
            top: '50%', // Top position relative to parent
            left: '50%' // Left position relative to parent
        };
        var target = document.getElementById('app-body');
        var spinner = new Spinner(opts).spin(target);
    }
</script>
}