@model MissingLinkPro.Models.ParameterKeeper

@{
    ViewBag.Title = "Begin Your Search";
}

@{ Html.RenderAction("SearchPageScripts", "Application"); }

<!-- <form id="form" action="@Url.Action("Process")" method="post" novalidate> -->

<div style="margin:20px;">
    <h2 class="topic">Directlink Backlink Search</h2>
    <p class="small">Enter your company or brand name under “Search Query” and your website under “Target Site to Scan for,” then click “Perform Search” to find your linkless mentions!</p>
    <p style="text-align:center;"><a href="http://www.directagents.com/directlink/assist.php" onclick="javascript:void window.open('http://www.directagents.com/directlink/assist.php','1420493156079','width=725,height=800,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');return false;"><img src="~/Images/btn_assist.gif" /></a>
        @*<a href="@Url.Action("ExportResults", "Application")" style="padding:5px;"><img src="@Url.Content("~/Images/btn_previous_results.gif")"/></a>*@
        <a href="@Url.Action("ViewResults", "Application")" style="padding:5px;"><img src="@Url.Content("~/Images/btn_view_prev_results.gif")"/></a>
    </p>
</div>

<div class="form-box" style="padding-top:1px; max-width:1200px;">
@using (Html.BeginForm("Process", "Application", FormMethod.Post, new { id = "form", onsubmit = "go()" }))
{
    @Html.ValidationSummary()
    <table class="application" id="app-body">
        <tr class="app-row">
            <td class="app-column">Search Query
                <span style="cursor:Pointer;" title="Type in whatever it is you are looking for when using a search engine.">
                    <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'"><img src="~/Images/question_blob.png" /></a>
                    </span>
            </td>
            <td class="app-column">Target Site to Scan for <span style="cursor:Pointer;" title="Type in the website that you are scanning your results for linkbacks to. Please include subdomain prefix if one exists."><img src="~/Images/question_blob.png" /></span></td>
            @*<td>Phrase Search</td>*@
        </tr>
        <tr class="app-row">
            <td class="app-column"><input class="form-field" type="text" size ="45" name="BingSearchQuery" placeholder="e.g. &quot;16 Handles&quot;" required></td>
            @*<td><input class="form-field" type="text" size = "65" name="PhraseSearchString"></td>*@
            <td class="app-column"><input class="form-field" type="text" size="45" name="ClientWebsite" placeholder="e.g. 16handles.com" required></td>
        </tr>
        <tr class="app-row">
            <td class="app-column">Exclude Terms <span style="cursor:Pointer;" title="Type in whatever terms you wish for the search engine to exclude from your search."><img src="~/Images/question_blob.png" /></span></td>
            @*<td>Target Site to Scan for</td>*@
        </tr>
        <tr class="app-row">
            <td class="app-column"><input class="form-field" type="text" size = "45" name="ExcludeString"></td>
            @*<td><input class="form-field" type="text" size="65" name="ClientWebsite" required></td>*@
        </tr>
        <tr>
            <td style="line-height:20px; padding-top:10px;">Number of Results to Scan<br><p style="font-size:small; padding-bottom:12px;"><b>(Max: 1000 Results)</b></p></td>
            <td style="line-height:20px; padding-top:10px;">Start At Search Rank#<br><p style="font-size:small; padding-bottom:12px;"><b>(Max: Rank 1001)</b></p></td>
        </tr>
            <tr>
            <td class="app-column"><input type="number" id="top-input" name="top" value="@Model.top" min="1" max="1000" onchange="calcETA()"></td>
            <td class="app-column"><input type="number" value="@Model.skip" min="1" max="1001" name="skip"></td>

        </tr>
        <tr>
             <td class="app-column">Type of Results</td>
             <td>
                 <table>
                     <tr>
                         <td class="app-radio-btn"><input class="radio-btn" type="radio" name="ResultType" value = "news" checked="checked"> News</td>
                         <td class="app-radio-btn"><input class="radio-btn" type="radio" name="ResultType" value = "web"> Web</td>
                     </tr>
                 </table>
             </td>
        @*<tr>
            <td class="app-column">Exclude Results With Links to Target</td>
            <td>
                <table>
                    <tr>
                        <td class="app-radio-btn"><input class="radio-btn" type="radio" name="ExcludeLinkbackResults" value = "true" checked="checked"> Yes</td>
                        <td class="app-radio-btn"><input class="radio-btn" type="radio" name="ExcludeLinkbackResults" value = "false"> No</td>
                   </tr>
                </table>
            </td>
        </tr>
            <tr>
            <td class="app-column">Display Search Results</td>
            <td>
                <table>
                    <tr>
                        <td class="app-radio-btn"><input class="radio-btn" type="radio" name="DisplayAllResults" value = "true" checked="checked"> Yes </td>
                        <td class="app-radio-btn"><input class="radio-btn" type="radio" name="DisplayAllResults" value = "false"> No</td>
                   </tr>
                </table>
            </td>
        </tr>*@
        <tr>
          @*<input type="image" name="SubmitBtn" src="~/Images/btn_search.gif" value ="Perform Search" style="align-content:center"> *@
        </tr>
    </table>
    @Html.Hidden("DisplayAllResults", "true");
    @Html.Hidden("ExcludeLinkbackResults", "false");
    @Html.Hidden("NewSession", "true");
    <div class="big-orange-btn-location">
    <table style="margin-left:auto; margin-right:auto;">
        <tr>
    <td>
                <input style="margin-bottom:30px;" class="big-orange-btn" type="image" name="SubmitBtn" src="~/Images/btn_search.gif" value ="Perform Search"></td>
    </tr>
        <tr>
            <td><div class="eta-indicator">
<p id="eta">Estimated Time to Completion: 0 sec.</p>
    </div></td>
        </tr>
    </table>
        </div>

}
    </div>
<br />
<br />
<br /><br />