@{
    ViewBag.Title = "Results";
}


@model MissingLinkPro.Models.ProcessHub

@*  *@
<br>
<p><h2>Results For This Run:</h2><br></p>
<br>
    <p>
    Search Query: @Model.BingSearchQuery <br>
    Text Search Within Results: @if (Model.PhraseSearchEnabled == true) { @Model.PhraseSearchString }
                                else { <text><i>(No Entry)</i></text>} <br>
    Excluding Phrase: @if (Model.ExcludeEnabled == true) { @Model.ExcludeString }
                                else { <text><i>(No Entry)</i></text>} <br>
    Target Website To Link To: @Model.ClientWebsite<br>
    Number of Results to Scan: @Model.top <br>
    Type of Results: @Model.ResultType <br>
    Exclude Results With Links to Target(s):
        @if (Model.ExcludeLinkbackResults == true) { <text>yes</text> }
        else { <text>no</text> }<br>
    </p>

    <p>
    <br>
    Number of Results Found: @Model.ParsedResults.Count()<br>
    Results Omitted: @Model.OmitCount<br>
    Total Time: @Model.TotalRunTime sec<br>
    </p>

    <p>
    <br>
    @Html.ActionLink("Export All Mined Results to CSV", "ExportResults")<br>
    @Html.ActionLink("Next Set of Results (Will Add to Overall Collection)", "Process")<br>
    <br>
    </p>

    @if (Model.SearchErrorEncountered) {
    <text>ERROR: Your search was halted due to a critical error encountered during your Google search. Please see error message below:</text><br>
    @Model.SearchErrorMsg<br>
    <br><br>
    }
        @if (Model.DisplayAllResults) {
            foreach (MissingLinkPro.Models.ProcessHub.SearchResult s in Model.ParsedResults) {
                if (s.SkipThisResult) { continue; }
                <text>---<br></text>
                <text>Rank ID: </text>@s.Id<br>
                <a href="@s.Url">@s.Title</a><br>
                @s.Url<br>
                if (s.ExceptionFound) {
                    <text> - ERROR: </text> @s.ErrorMsg<br>
                    <br>
                    continue;
                }
                if (s.LinksToClientWebsite) {
                    <text> - OK: Site features links that point to target(s).<br></text>
                }
                else {
                    <text> - NOTE: No links to target(s) found.<br></text>
                }
                if (Model.PhraseSearchEnabled) {
                    if (s.ContainsSearchPhrase) {
                        <text> - OK: Site contains instances of given phrase.</text><br>
                    }
                    else {
                        <text> - NOTE: Given phrase not found.</text><br>
                    }
                }
                <br>
            }
        }
    <br>