@model IEnumerable<IdentitySample.Models.Package>

@{
    ViewBag.Title = "Subscription Management";
}

<table class="content-space">
    <tr>
        <td><h2>Package Plans</h2></td>
    </tr>
    <tr>
        <td><br /></td>
    </tr>
    <tr>
        <td><p>The following package plans are currently available for subscription. To manage your subscription, click on the link that corresponds with your chosen package plan. You may choose to upgrade or downgrade your plan at a later time if desired.
    NOTE: Use 4242424242424242 with any CVC and expiry date.
</p>
</td>
    </tr>
</table>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SearchesPerMonth)
        </th>
        <th>
            Results/Search
            @*@Html.DisplayNameFor(model => model.MaxResults)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostPerMonth)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name,"Pay", new { id=item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SearchesPerMonth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxResults)
        </td>
        <td>
            $@Html.DisplayFor(modelItem => item.CostPerMonth)
        </td>
    </tr>
}
</table>
<br />

<table class="content-space">
    <tr>
        <td><h2>@Html.ActionLink("Payment History", "History", "Payments")</h2></td>
    </tr>
    <tr>
        <td><br /></td>
    </tr>
    <tr>
        <td><p>The provided link above will retrieve your entire history of payments as dated invoices.</p><br />
</td>
    </tr>
        <tr>
        <td><h2>@Html.ActionLink("Revise Credit Card", "UpdateCreditCard", "Payments")</h2></td>
    </tr>
    <tr>
        <td><br /></td>
    </tr>
    <tr>
        <td><p>The provided link above will allow you to update your current credit card information.</p><br />
</td>
    </tr>
</table>
<br /><br />