@model IdentitySample.Models.PayUpdateCreditCardViewModel

@{
    ViewBag.Title = "Credit Card Management";
}

@section Scripts
{
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
  // This identifies your website in the createToken call below
    Stripe.setPublishableKey('pk_test_bqotCuVYyt6dLMoMD4doOL6V');

    var stripeResponseHandler = function (status, response) {
        var $form = $('#payment-form');

        if (response.error) {
            // Show the errors on the form
            $form.find('.payment-errors').text(response.error.message);
            $form.find('button').prop('disabled', false);
        } else {
            // token contains id, last4, and card type
            var token = response.id;
            // Insert the token into the form so it gets submitted to the server
            $form.append($('<input type="hidden" name="stripeToken" />').val(token));
            // and re-submit
            $form.get(0).submit();
        }
    };

    jQuery(function ($) {
        $('#payment-form').submit(function (event) {
            var $form = $(this);
            // Disable the submit button to prevent repeated clicks
            $form.find('button').prop('disabled', true);

            Stripe.card.createToken($form, stripeResponseHandler);

            // Prevent the form from submitting with the default action
            return false;
        });
    });

</script>
}

<p class="text-success">@ViewBag.StatusMessage</p>

@if (Model.HasCreditCard)
{
    <div id="main">

    <header>
        <div class="container">
            <div class="row clearfix">
                <div class="column full" style="padding-bottom:30px;">
                    <h2 class="topic">Your Credit Card</h2>
                    <p class="small">You currently have the following card registered under your account. You may change your credit card information or delete it entirely at any time you wish.</p>
                </div>
            </div>
                <table style="width:300px; margin-left:auto; margin-right:auto; margin-bottom:40px;">
       <tr>
           <th class="subscription-left-col">Card Type</th><td class="subscription-left-col">@Model.Card.Brand</td>
       </tr>
       <tr>
           <th class="subscription-left-col">Card Number</th><td class="subscription-left-col">************@Model.Card.Last4</td>
       </tr>
       <tr>
           <th class="subscription-left-col">Name</th><td class="subscription-left-col">@Model.Card.Name</td>
       </tr>
       <tr>
           <th class="subscription-left-col">Expiry Date</th><td class="subscription-left-col">@Model.Card.ExpirationMonth / @Model.Card.ExpirationYear</td>
       </tr>
       <tr>
           <th class="subscription-left-col">Address</th><td class="subscription-left-col">@Model.Card.AddressLine1</td>
       </tr>

       @if (!Model.Card.AddressLine2.Equals("")) {       <tr><th> </th><td class="subscription-left-col">@Model.Card.AddressLine2</td></tr> }
       <tr>
         <th> </th><td class="subscription-left-col">@Model.Card.AddressCity, @Model.Card.AddressState @Model.Card.AddressZip</td>
       </tr>
    </table>
    
    <p>@Html.ActionLink("Update Credit Card", "UpdateCreditCard", "Manage")</p>
    <p>@Html.ActionLink("Delete Credit Card", "DeleteCreditCard", "Manage")</p>
            <p class="small">Note that if you have currently have a canceled subscription under your account, updating your credit card will automatically renew it.</p>
        </div>
    </header>
    </div>
    

}
else
{
    <div id="main">

    <header>
        <div class="container">
            <div class="row clearfix">
                <div class="column full" style="padding-bottom:30px;">
                    <h2 class="topic">Update Credit Card Information</h2>
                    <p class="text-success">@ViewBag.StatusMessage</p>
                    <p class="small">You currently don't have a card registered to your account. Please fill out the form fields below and click on Register New Card to update your credit card information.
                        Note that if you are currently using a package plan that has been cancelled, updating your credit card will reactivate your subscription.</p>
                </div>
            </div>
                    <form action="" method="POST" id="payment-form">
                      <span class="payment-errors"></span>

            <table class="credit-card-form">
                <tr>
                    <th class="credit-card-form">Name On Card</th>
                    <td class="credit-card-form"><input type="text" size="30" data-stripe="name" required/></td>
                </tr>
                <tr>
                    <th class="credit-card-form">Address Line 1</th>
                    <td class="credit-card-form"><input type="text" size="30" data-stripe="address_line1" required/></td>
                </tr>
                <tr>
                    <th class="credit-card-form">Address Line 2</th>
                    <td class="credit-card-form"><input type="text" size="30" data-stripe="address_line2"/></td>
                </tr>
                <tr>
                    <th class="credit-card-form">City</th>
                    <td class="credit-card-form"><input type="text" size="25" data-stripe="address_city" required/></td>
                </tr>
                    <tr>
                    <th class="credit-card-form">State, Postal Code </th>
                    <td class="credit-card-form"><input type="text" size="3" data-stripe="address_state"/> <input type="text" size="8" data-stripe="address_zip" required/></td>
                </tr>
                   @*<tr>
                    <th>Country</th>
                    <td><input type="text" size="5" data-stripe="address_country"/></td>
                </tr>*@
                   <tr>
                    <th class="credit-card-form">Card Number</th>
                    <td class="credit-card-form"><input type="text" size="30" data-stripe="number"/></td>
                </tr>
                    <tr>
                    <th class="credit-card-form">CVC</th>
                    <td class="credit-card-form"><input type="text" size="4" data-stripe="cvc"/></td>
                </tr>
                <tr>
                    <th class="credit-card-form" style="padding-right:4px;">Expiration (MM/YYYY) </th>
                    <td class="credit-card-form"><input type="text" size="2" data-stripe="exp-month"/> / <input type="text" size="4" data-stripe="exp-year"/></td>
                </tr>
            </table>
          <div style="margin:40px;"><button type="submit">Register New Card</button></div>
        </form>
            </div>
        </header>
        </div>

<br /><br /><br />

}
<br /><br />