@model IdentitySample.Models.IndexViewModel
@{
    ViewBag.Title = "Manage Your Account";
}

<section class="announcement" style="background-color:#FFF;">
<h2 class="topic">Your User Information</h2>
<div style="text-align:center;"><a href="@Url.Action("UpdateUser", "Manage")" style="padding:5px;"><img src="@Url.Content("~/Images/btn_update.gif")"/></a>
</div>
<div style="text-align:center;"><p class="text-success" style="color:red;">@ViewBag.StatusMessage</p></div>
<div>
    <div><br><br />
            <table style="margin-left:auto; margin-right: auto; max-width:450px;">
                <tr>
                    <td><p class="small">Registered Name</p></td>
                    <td><p class="small">@Model.FirstName @Model.LastName</p></td>
                </tr>
                <tr>
                    <td><p class="small">Company Name</p></td>
                    <td><p class="small">@Model.CompanyName</p></td>
                </tr>
                <tr>
                    <td><p class="small">Email</p></td>
                    <td><p class="small">@Model.Email</p></td>
                </tr>
                <tr>
                    <td><p class="small">Phone Number</p></td>
                    <td><p class="small">@Model.PhoneNumber</p></td>
                </tr>
                <tr>
                    <td><p class="small">Credit Card</p></td>
                    <td><p class="small">@Model.CardSummary</p></td>
                </tr>
                <tr>
                    <td><p class="small">Subscription</p></td>
                    <td><p class="small">@Model.Package.Name @if (!Model.IsActive) { <b>[Cancelled]</b> } </p></td>
                </tr>
                <tr>
                    <td><p class="small">Searches/Month</p></td>
                    <td><p class="small">@Model.Package.SearchesPerMonth</p></td>
                </tr>
                 <tr>
                    <td><p class="small">Results/Search</p></td>
                    <td><p class="small">@Model.Package.MaxResults</p></td>
                </tr>
                <tr>
                <td class="profile-left-col"><p class="small">Searches Performed This Month</p></td>
                <td><p class="small">@Model.QueriesPerformed</p></td>
                </tr>
                <tr>
                <td><p class="small">Cycle Start Date</p></td>
                <td><p class="small">@Model.Anniversary</p></td>
                </tr>
                <tr>
                <td><p class="small">Cycle End Date</p></td>
                <td><p class="small">@Model.Anniversary.AddMonths(1)</p></td>
                </tr>
                <tr>
                <td><p class="small">Time of Last Run</p></td>
                <td><p class="small">@Model.DateTimeStamp</p></td>
                </tr>
                <tr>
                <td><p class="small">Account Created</p></td>
                <td><p class="small">@Model.DateCreated</p></td>
                </tr>
                </table>
        <br /><br /><br /><br /><br />
@*        <p>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Pick a password", "SetPassword")
            }
        </p>
        <p>
            Registered Name: @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)
            [@Html.ActionLink("Change Name", "ChangeName")]
        </p>
        <p>
            Phone Number: @(Model.PhoneNumber ?? "None") [
            @if (Model.PhoneNumber != null)
            {
                @Html.ActionLink("Change", "AddPhoneNumber")
                @: &nbsp;|&nbsp;
                @Html.ActionLink("Remove", "RemovePhoneNumber")
            }
            else
            {
                @Html.ActionLink("Add", "AddPhoneNumber")
            }
            ]
        </p>
        <p>
            External Logins: @Model.Logins.Count
            @Html.ActionLink("[Manage]", "ManageLogins")
        </p>
        @if (Model.TwoFactor)
        {
            <form method="post" action="/Manage/DisableTFA">
                <p>
                    Two factor is currently enabled:
                    <input type="submit" value="Disable" class="btn btn-default"/>
                </p>
            </form>
        }
        else
        {
            <form method="post" action="/Manage/EnableTFA">
                <p>
                    Two factor is currently disabled:
                    <input type="submit" value="Enable" class="btn btn-default"/>
                </p>
            </form>
        }
        @if (Model.BrowserRemembered)
        {
            <form method="post" action="/Manage/ForgetBrowser">
                <p>
                    Browser is curently remembered for two factor:
                    <input type="submit" value="Forget Browser" class="btn btn-default" />
                </p>
            </form>
        }
        else
        {
            <form method="post" action="/Manage/RememberBrowser">
                <p>
                    Browser is curently not remembered for two factor:
                    <input type="submit" value="Remember Browser" class="btn btn-default"/>
                </p>
            </form>
        } *@
    </div>
</div>
    </section>

@if (Model.HasMessage) {<div><p style="color:red">* @Model.Message</p></div>}

&nbsp;&nbsp;
@*<section class="features">
    <div class="container">

    <div class="row clearfix">
        <div class="column half">
            <div class="box">
                <h3>Update User Information</h3>
                <p class="small">Click @Html.ActionLink("here", "UpdateUser", "Manage") to make changes to your name, phone number, and password.
                    <br /><br />
                </p>
            </div>
        </div>
                <div class="column half">
            <div class="box">
                <h3>Subscription Management</h3>
                <p class="small">Click @Html.ActionLink("here", "Subscriptions", "Manage") to manage your current subscription.
                    <br /><br />
                </p>
            </div>
        </div>
        </div>
    <div class="row clearfix">
        <div class="column half">
            <div class="box">
                <h3>Credit Card Management</h3>
                <p class="small">Click @Html.ActionLink("here", "CreditCardManagement", "Manage") to manage your credit card information.
                    <br /><br />
                </p>
            </div>
        </div>
                <div class="column half">
            <div class="box">
                <h3>Payment History</h3>
                <p class="small">Click @Html.ActionLink("here", "History", "Manage") retrieve your entire history of payments as dated invoices.
                    <br /><br />
                </p>
            </div>
        </div>
        </div>
        </div>
</section>*@