@model IdentitySample.Models.PayViewModel

@{
    ViewBag.Title = "Payment Form";
    bool showPaymentForm = false;
    bool newCard = false;
}

@section Scripts
{
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
  // This identifies your website in the createToken call below
    Stripe.setPublishableKey('pk_test_bqotCuVYyt6dLMoMD4doOL6V');

    var stripeResponseHandler = function (status, response) {
        var $form = $('#payment-form');

        if (response.error) {
            // Show the errors on the form
            $form.find('.payment-errors').text(response.error.message);
            $form.find('button').prop('disabled', false);
        } else {
            // token contains id, last4, and card type
            var token = response.id;
            // Insert the token into the form so it gets submitted to the server
            $form.append($('<input type="hidden" name="stripeToken" />').val(token));
            // and re-submit
            $form.get(0).submit();
        }
    };

    jQuery(function ($) {
        $('#payment-form').submit(function (event) {
            var $form = $(this);
            // Disable the submit button to prevent repeated clicks
            $form.find('button').prop('disabled', true);

            Stripe.card.createToken($form, stripeResponseHandler);

            // Prevent the form from submitting with the default action
            return false;
        });
    });

</script>
}
<div id="main">

<p class="text-success">@ViewBag.StatusMessage</p>

    <header>
        <div class="container">
            <div class="row clearfix">
                <div class="column full" style="padding-bottom:30px;">
                    <h2 class="topic">@Model.PackageName: $@Model.PackageCost/month</h2>
                    <div style="text-align:center;"><p class="text-success">@ViewBag.StatusMessage</p></div>
                    <p>Searches/Month: @Model.SearchesPerMonth<br />
                        Results/Search: @Model.MaxResults
                    </p>

                </div>
            </div>

@if (Model.PackageId == 1)
{
    <p>The Freemium package allows you to try DirectLink at no cost, but is also the most limited of the options available to you.
            A higher package plan is better suited for businesses and clients who wish to check on their search rankings and back links throughout the month.
            </p>
            <br />
                if (Model.SubscribedPackageId == Model.PackageId)
                {
                    <p>You are currently subscribed to this plan.<br />You may upgrade to one of the available Premium plans.</p>
                    <p><button class="btn btn-default" onclick="document.location.href='@Url.Action("Subscriptions")'">Upgrade</button></p>
                }
                else if (!Model.IsActive)
                {
                    <p>You are currently under a cancelled subscription that will not be renewed at the end of your payment period.
                        You will automatically be assigned a Freemium subscription if you elect to continue using the application after that time.</p>
                        <br /><br /><br /><br /><br /><br /><br /><br /><br />
                }
                else
                {
                    <p>You currently have the option of reducing your subscription to this plan.
                        Please click the button below if you wish to do so.</p>
                    <br />
                <form action="" method="post">
                            @Html.HiddenFor(m => m.PackageId)
                  <button type="submit">Downgrade To @Model.PackageName</button>
                </form>
                    <br /><br /><br /><br /><br /><br /><br />
                }
}

else if (Model.PackageId == Model.SubscribedPackageId)
{
<p>You are currently subscribed to this plan. To change your current subscription package, please @Html.ActionLink("select a different plan", "Subscriptions").</p>
    <br />
    if (Model.IsActive)
    {
        <h2 class="topic">@Html.ActionLink("Cancel Subscription", "CancelSubscription", "Manage")</h2>
       <br />
    <p>Please click the above link if you wish to cancel your subscription.
        Your current subscription will remain active until the end of the month,
        at which point your subscription will not be renewed,
        and you will be downgraded to the Freemium package.</p>
               <br /><br /><br /><br /><br /><br />
    }
    else
    {<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />}
}

else if (Model.PackageId < Model.SubscribedPackageId && Model.IsActive && Model.UserHasCreditCard)
{
            <p>Using your existing credit card, you have the option of downgrading to this plan. If you choose to do so, you will be charged the prorated amount on your next invoice.</p>
            <p>Please be advised that downgrading reduces your allowed number of searches per month. However, you may upgrade to a higher subscription plan at a later time.</p>
            <p>Click the button below if you wish to proceed.</p><br />

            <form action="" method="post">
                @Html.HiddenFor(m => m.PackageId)
                <button type="submit">Downgrade To @Model.PackageName</button>
            </form>
    <br /><br /><br /><br /><br /><br /><br />
}
else if (Model.UserHasCreditCard)
{
    <p>Using your existing credit card, you have the option of upgrading to this plan. If you choose to do so, you will be charged the prorated amount on your next invoice.</p>
        <p>Upgrading your subscription increases your allowed number of searches per month, and allows you to see more results per search. You may downgrade to a lower subscription plan at a later time.</p>
        <p>Click the button below to upgrade your account now.</p><br />

            <form action="" method="post">
                @Html.HiddenFor(m => m.PackageId)
                <button type="submit">Upgrade To @Model.PackageName</button>
            </form>
        <br /><br /><br /><br /><br /><br />
}
else
{
    showPaymentForm = true;
}


@if (showPaymentForm)
{
    <p>Please fill out the payment information below to subscribe to this plan.</p>
    <br />
    <div class="form-box" style="max-width:650px; padding:15px;">
    <form action="" method="POST" id="payment-form">
    <span class="payment-errors"></span>
    <table class="credit-card-form">
                <tr>
                    <td class="credit-card-form">Name On Card</td>
                    <td class="credit-card-form"><input type="text" size="30" data-stripe="name" required/></td>
                </tr>
                <tr>
                    <td class="credit-card-form">Address Line 1</td>
                    <td class="credit-card-form"><input type="text" size="30" data-stripe="address_line1" required/></td>
                </tr>
                <tr>
                    <td class="credit-card-form">Address Line 2</td>
                    <td class="credit-card-form"><input type="text" size="30" data-stripe="address_line2"/></td>
                </tr>
                <tr>
                    <td class="credit-card-form">City</td>
                    <td class="credit-card-form"><input type="text" size="25" data-stripe="address_city" required/></td>
                </tr>
                    <tr>
                    <td class="credit-card-form">State, Postal Code </td>
                    <td class="credit-card-form"><input type="text" size="3" data-stripe="address_state"/> <input type="text" size="8" data-stripe="address_zip" required/></td>
                </tr>
                   @*<tr>
                    <th>Country</th>
                    <td><input type="text" size="5" data-stripe="address_country"/></td>
                </tr>*@
                   <tr>
                    <td class="credit-card-form">Card Number</td>
                    <td class="credit-card-form"><input type="text" size="30" data-stripe="number"/></td>
                </tr>
                    <tr>
                    <td class="credit-card-form">CVC</td>
                    <td class="credit-card-form"><input type="text" size="4" data-stripe="cvc"/></td>
                </tr>
                <tr>
                    <td class="credit-card-form" style="padding-right:4px;">Expiration (MM/YYYY) </td>
                    <td class="credit-card-form"><input type="text" size="2" data-stripe="exp-month"/> / <input type="text" size="4" data-stripe="exp-year"/></td>
                </tr>
            </table>
          <div style="margin:40px;"><button type="submit">Register New Card</button></div>
        </form>
        </div>
    <br /><br />
}
              </div>
        </header>
    </div>