@model IdentitySample.Models.PayIndexViewModel
@*@model IEnumerable<IdentitySample.Models.Package>*@

@{
    ViewBag.Title = "Subscription Management";
}

<p class="text-success">@ViewBag.StatusMessage</p>
@if (Model.HasMessage) {<div><p style="color:red">* @Model.Message</p></div>}

<div id="main">

    <header>
        <div class="container">
            <div class="row clearfix">
                <div class="column full"><h1 class="topic">Package Plans</h1></div>
                <p>The following package plans are currently available for subscription. To manage your subscription, click on the link that corresponds with your chosen package plan. You may choose to upgrade or downgrade your plan at a later time if desired.
    <br />NOTE: For testing purposes, use 4242424242424242 with any CVC and expiry date.
</p>
            </div>
        </div>
    </header>
    <section class="feature">
        <table class="package-plans">
    <tr>
        <th class="package-plans">
            Current Plan
        </th>
        <th class="package-plans">
            Package
        </th>
        <th class="package-plans">
            Searches/Month
        </th>
        <th class="package-plans">
            Results/Search
            @*@Html.DisplayNameFor(model => model.MaxResults)*@
        </th>
        <th class="package-plans">
            Cost/Month
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.ListofPackages) {
    <tr>
        <td class="package-plans">@if (Model.PackageId == item.Id) { <img src="~/Images/linkback_no.png" /> }</td>
        <td class="package-plans">
            @Html.ActionLink(item.Name,"PaySubscription", new { id=item.Id })
        </td>
        <td class="package-plans">
            @Html.DisplayFor(modelItem => item.SearchesPerMonth)
        </td>
        <td class="package-plans">
            @Html.DisplayFor(modelItem => item.MaxResults)
        </td>
        <td class="package-plans">
            $@Html.DisplayFor(modelItem => item.CostPerMonth)
        </td>
    </tr>
}
</table></section>
    </div>


<br />