@model IdentitySample.Models.UpdateUserViewModel
@{
    ViewBag.Title = "Update User Information";
}

<table class="content-space">
        <tr>
        <td><h2>Update Your Profile</h2></td>
        </tr>
        <tr>
            <td><br /></td>
        </tr>
        <tr>
            <td><p>Please fill out the form below.</p><br />@Html.ValidationSummary("", new { @class = "text-danger" })
    </td>
        </tr>

    @using (Html.BeginForm("UpdateUser", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
    @Html.AntiForgeryToken()
    <tr>
        <td>New First Name</td><td>@Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })</td>
    </tr>
    <tr>
        <td>New First Name</td><td>@Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })</td>
    </tr>
    <tr>
        <td>Phone Number</td><td>@Html.TextBoxFor(m => m.Number, new { @class = "form-control" })</td>
    </tr>
     <tr>
         <td><br />The following fields below are if you wish to change your password. Please leave them blank if you choose not to do so.<br /></td>
     </tr>
     <tr>
        <td>Old Password</td><td>@Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })</td>
    </tr>
    <tr>
        <td>New Password</td><td>@Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })</td>
    </tr>
    <tr>
        <td>Confirm Password</td><td>@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })</td>
    </tr>
        <tr>
            <td>@Html.HiddenFor(model => model.PasswordChanged, false)</td>
        </tr>
        <tr>
        <td><input type="submit" value="Update Information" class="btn btn-default" /></td>
        </tr>
    }
</table>

<br /><br />